.typeahead {
  position: relative;
}
.typeahead .typeahead-items {
  border: 1px solid;
  border-color: rgba(153, 153, 153, 0.2);
  color: #444444;
  background-color: #ffffff;
  position: absolute;
  top: 32px;
  z-index: 1030;
  width: 100%;
}
.typeahead .typeahead-items .typeahead-item {
  border-bottom: 1px solid;
  border-bottom-color: rgba(153, 153, 153, 0.2);
  padding: 5px 15px;
}
.typeahead .typeahead-items .typeahead-item:last-child {
  border-bottom: 0px;
}
.typeahead .typeahead-items .typeahead-item.active {
  background-color: #ecf0f1;
}
.button-group .typeahead.visible .input-group > :first-child,
.inline-form .typeahead.visible .input-group > :first-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.button-group .typeahead.visible .input-group > :last-child,
.inline-form .typeahead.visible .input-group > :last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.editor-color {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.editor-color > .form-group {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 1%;
      -ms-flex: 1 1 1%;
          flex: 1 1 1%;
  padding-right: 5px;
}
.editor-color > .form-group:last-child {
  padding-right: 0;
}
.editor-color-remove {
  position: absolute;
  right: 0;
  top: -10px;
}
.application {
  background-color: #eff0f1;
}
.marvel-view .marvel-element.row {
  margin-bottom: 15px;
}
.marvel-view.no-padding {
  padding: 0;
}
.marvel-view .table > thead > tr > th {
  border-color: #a3a5ad;
}
.marvel-view .table > tbody > tr > th,
.marvel-view .table > tfoot > tr > th,
.marvel-view .table > thead > tr > td,
.marvel-view .table > tbody > tr > td,
.marvel-view .table > tfoot > tr > td,
.marvel-view .table.table-condensed > tbody > tr > th,
.marvel-view .table.table-condensed > tfoot > tr > th,
.marvel-view .table.table-condensed > thead > tr > td,
.marvel-view .table.table-condensed > tbody > tr > td,
.marvel-view .table.table-condensed > tfoot > tr > td {
  border-color: #d1d2d6;
}
.marvel-view .table {
  border-bottom: 1px solid #d1d2d6;
  margin-bottom: 0;
}
.marvel-view th {
  font-weight: normal;
}
.marvel-view .fa-bolt {
  color: #e74c3c;
}
.marvel-view .fa-warning {
  color: #f3bc18;
}
.marvel-view a[data-reactid] {
  cursor: pointer;
}
marvel-chart {
  display: block;
}
.marvel-chart,
marvel-chart {
  background-color: #ffffff;
  border-top: 2px solid #a3a5ad;
  padding: 15px;
  min-height: 150px;
  display: block;
}
.marvel-chart h1,
marvel-chart h1 {
  font-size: 24px;
  margin: 0;
}
.marvel-chart.no-border,
marvel-chart.no-border {
  border-top: 0 none transparent;
}
.marvel-chart chart,
marvel-chart chart {
  display: block;
  min-height: 150px;
}
.marvel-chart .loading,
marvel-chart .loading {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-align: center;
  font-size: 18px;
  color: #666977;
  height: 150px;
  line-height: 150px;
}
.marvel-chart .nvd3,
marvel-chart .nvd3 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/***************************/
/****** MarvelCharts! ******/
/***************************/
.jubilee {
  position: relative;
}
.jubilee > svg {
  z-index: 2;
  position: relative;
}
.jubilee g > line {
  stroke: #d1d2d6;
}
.jubilee g > path {
  stroke: #232123;
}
.jubilee .axis text {
  font-size: 13px;
  color: #666977;
}
.jubilee .axis.y > path {
  display: none;
}
.jubilee .axis.y > line {
  stroke: #d1d2d6;
}
.jubilee .axis.x > path {
  stroke: #232123;
}
.jubilee .axis.x > line {
  stroke: #d1d2d6;
}
.jubilee .axis.x .domain {
  display: block;
}
marvel-index-summary > div,
marvel-node-summary > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
marvel-index-summary > div > div,
marvel-node-summary > div > div {
  padding-right: 20px;
  font-size: 18px;
  color: #666977;
}
marvel-index-summary > div > div > .status-online,
marvel-node-summary > div > div > .status-online {
  color: #94c63d;
}
marvel-index-summary > div > div > .status-offline,
marvel-node-summary > div > div > .status-offline {
  color: #a3a5ad;
}
marvel-cluster-status {
  margin: 10px 0;
  display: block;
}
marvel-cluster-status > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
marvel-cluster-status > div * + * {
  margin-left: 10px;
}
marvel-cluster-status > div .clusters {
  padding: 5px 10px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background-color: #666977;
  color: #ffffff;
}
marvel-cluster-status > div .clusters a.dropdown-toggle {
  color: #ffffff;
}
marvel-cluster-status > div .clusters .dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 0;
}
marvel-cluster-status > div .clusters .dropdown-menu > li {
  padding: 0;
  margin: 0;
  border-top: 1px solid #d1d2d6;
}
marvel-cluster-status > div .clusters .dropdown-menu > li:first-child {
  border-top: 0;
}
marvel-cluster-status > div .clusters .dropdown-menu > li > div,
marvel-cluster-status > div .clusters .dropdown-menu > li > a {
  padding: 5px 10px;
}
marvel-cluster-status > div .clusters .dropdown-menu > li.red {
  border-left: 4px solid #e74c3c;
}
marvel-cluster-status > div .clusters .dropdown-menu > li.red > a:hover {
  background-color: #e74c3c;
}
marvel-cluster-status > div .clusters .dropdown-menu > li.yellow {
  border-left: 4px solid #f3bc18;
}
marvel-cluster-status > div .clusters .dropdown-menu > li.yellow > a:hover {
  background-color: #f3bc18;
  color: #232123;
}
marvel-cluster-status > div .clusters .dropdown-menu > li.green {
  border-left: 4px solid #94c63d;
}
marvel-cluster-status > div .clusters .dropdown-menu > li.green > a:hover {
  background-color: #94c63d;
}
marvel-cluster-status > div .clusters .dropdown-menu > li.basic {
  color: #d1d2d6;
  border-left: 4px solid #d1d2d6;
}
marvel-cluster-status > div .stats,
marvel-cluster-status > div .clusterLicense {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #666977;
  color: #ffffff;
}
marvel-cluster-status > div .stats > div,
marvel-cluster-status > div .clusterLicense > div {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding: 5px 10px;
}
marvel-cluster-status > div .stats {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 0;
}
marvel-cluster-status > div .stats .loading {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
marvel-cluster-status > div .stats.yellow {
  background-color: #f3bc18;
  color: #232123;
}
marvel-cluster-status > div .stats.yellow i.fa {
  color: #232123;
}
marvel-cluster-status > div .stats.red {
  background-color: #e74c3c;
  color: #ffffff;
}
marvel-cluster-status > div .stats.red i.fa {
  color: #ffffff;
}
marvel-cluster-status > div .stats .status.green {
  color: #ffffff;
  background-color: #94c63d;
}
marvel-cluster-status > div .stats .status.green a {
  color: #ffffff;
}
marvel-cluster-status > div .stats .status.red {
  color: #ffffff;
  background-color: #e74c3c;
}
marvel-cluster-status > div .stats .status.red a {
  color: #ffffff;
}
marvel-cluster-status > div .stats .status.yellow {
  color: #232123;
  background-color: #f3bc18;
}
marvel-cluster-status > div .stats .status.yellow a {
  color: #232123;
}
marvel-cluster-status > div .clusterLicense {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
marvel-cluster-status > div .clusterLicense a {
  display: inline-block;
  padding: 5px 10px;
  color: #ffffff;
}
marvel-issue-summary > div {
  padding: 5px;
  background-color: #ffffff;
  border-top: 2px solid #a3a5ad;
}
marvel-issue-summary > div.red {
  border-color: #e74c3c;
}
marvel-issue-summary > div.yellow {
  border-color: #f3bc18;
}
marvel-issue-summary > div h1 {
  font-size: 24px;
  margin: 0 0 5px 0;
  color: #232123;
}
marvel-issue-summary > div .summary {
  color: #666977;
  font-size: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
marvel-issue-summary > div .summary .fa-bolt,
marvel-issue-summary > div .summary .fa-warning {
  color: #666977 !important;
}
marvel-issue-summary > div .summary.red .fa-bolt {
  color: #e74c3c !important;
}
marvel-issue-summary > div .summary.red .total {
  color: #e74c3c;
}
marvel-issue-summary > div .summary.yellow .fa-warning {
  color: #f3bc18 !important;
}
marvel-issue-summary > div .summary.yellow .total {
  color: #f3bc18;
}
marvel-issue-summary > div .summary .icon {
  font-size: 0.8em;
  min-width: 40px;
  text-align: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
marvel-issue-summary > div .summary .total {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
marvel-issues {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
marvel-issues > div {
  background-color: #ffffff;
  border-top: 2px solid #a3a5ad;
  padding: 5px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
marvel-issues > div.red {
  border-top: 2px solid #e74c3c;
}
marvel-issues > div.yellow {
  border-top: 2px solid #f3bc18;
}
marvel-issues > div h1 {
  color: #232123;
  font-size: 20px;
  margin-top: 0;
}
marvel-issues > div h1 .count {
  color: #a3a5ad;
  font-size: 0.6em;
}
marvel-issues > div h1 .count a {
  color: #a3a5ad;
}
marvel-issues > div h1 .count a:hover {
  color: #232123;
}
marvel-issues > div .fa-bolt {
  color: #e74c3c;
}
marvel-issues > div .fa-warning {
  color: #f3bc18;
}
marvel-issues > div ul {
  border-top: 1px solid #d1d2d6;
}
marvel-issues > div li {
  color: #a3a5ad;
  padding: 5px 0;
  border-bottom: 1px solid #d1d2d6;
}
marvel-issues > div li span.icon {
  text-align: center;
  width: 20px;
  display: inline-block;
}
marvel-issues > div li a {
  color: #232123;
}
marvel-issues > div li strong {
  color: #232123;
}
marvel-issues > div div.no-results {
  border-top: 1px solid #d1d2d6;
  padding: 10px 0;
  text-align: center;
  color: #d1d2d6;
}
marvel-issues > div div.no-results .fa {
  font-size: 60px;
}
marvel-issues > div div.no-results h6 {
  font-size: 18px;
}
marvel-shard-activity {
  display: block;
  padding: 5px;
  background: #ffffff;
  border-top: 2px solid #a3a5ad;
}
marvel-shard-activity .filter {
  font-size: 10px;
  cursor: pointer;
  padding: 3px 10px;
  border: 1px solid #d1d2d6;
}
marvel-shard-activity .filter.active {
  background-color: #a3a5ad;
  color: #ffffff;
}
marvel-shard-activity h1 {
  font-size: 20px;
  margin: 0;
}
marvel-shard-activity a {
  text-decoration: none;
}
marvel-shard-activity tr > td {
  background: #ffffff;
}
marvel-shard-activity tr:last-child > td {
  border-bottom: 1px solid #a3a5ad;
}
marvel-shard-activity tr.done > td {
  color: #a3a5ad;
  background: #ffffff;
}
marvel-shard-activity tr.done > td a {
  text-decoration: none;
  color: #a3a5ad;
}
marvel-shard-activity td {
  vertical-align: middle !important;
}
marvel-shard-activity p {
  margin: 0;
}
marvel-shard-activity .table > tbody > tr.red > td.index {
  border-left: 4px solid #e74c3c;
}
marvel-shard-activity .table > tbody > tr.red.done > td.index {
  border-left: 0;
}
marvel-shard-activity .table > tbody > tr.yellow > td.index {
  border-left: 4px solid #f3bc18;
}
marvel-shard-activity .table > tbody > tr.yellow.done > td.index {
  border-left: 0;
}
marvel-shard-activity .table-condensed > tbody > tr > td.no-results {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  background-color: #ffffff;
  color: #a3a5ad;
}
marvel-shard-activity h5 {
  font-size: 18px;
  margin: 0;
}
marvel-shard-activity h6 {
  font-size: 16px;
  margin: 0;
}
marvel-shard-activity .source-dest > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
marvel-shard-activity .source-dest > div > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
marvel-shard-allocation {
  display: block;
  margin-top: 15px;
  padding: 5px;
  background: #ffffff;
  border-top: 2px solid #a3a5ad;
}
.loading {
  color: #a3a5ad;
}
.marvel-cluster-view cluster-view {
  display: block;
}
.marvel-cluster-view .head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.marvel-cluster-view .head > div {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-right: 10px;
}
.marvel-cluster-view .head .bold {
  font-weight: bold;
}
.marvel-cluster-view .head .title {
  font-size: 20px;
}
.marvel-cluster-view .head .counts {
  color: #a3a5ad;
}
.marvel-cluster-view .head .show-btns {
  margin-left: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.marvel-cluster-view .head .show-btns > div {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-right: 10px;
  font-size: 0.8em;
}
.marvel-cluster-view .head .show-btns .filter {
  cursor: pointer;
  padding: 3px 10px;
  border: 1px solid #d1d2d6;
}
.marvel-cluster-view .head .show-btns .filter.active {
  background-color: #a3a5ad;
  color: #ffffff;
}
.marvel-cluster-view .parent {
  padding-top: 14px;
  border-left: 3px solid #94c63d !important;
}
.marvel-cluster-view .parent.red {
  border-left: 3px solid #e74c3c !important;
}
.marvel-cluster-view .parent.yellow {
  border-left: 3px solid #f3bc18 !important;
}
.marvel-cluster-view .parentName {
  font-size: 16px;
}
.marvel-cluster-view .parentName a {
  color: #FFF;
  text-decoration: none;
}
.marvel-cluster-view .parentName .fa {
  margin-left: 5px;
}
.marvel-cluster-view .parentName.text-error a {
  color: #b84a48;
  text-decoration: none;
}
.marvel-cluster-view .details {
  font-size: 12px;
}
.marvel-cluster-view td.unassigned {
  vertical-align: middle;
  width: 150px;
}
.marvel-cluster-view .children {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.marvel-cluster-view .child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background: #444;
  color: #FFF;
  margin: 5px;
}
.marvel-cluster-view .child.index {
  border-left: 4px solid #94c63d;
}
.marvel-cluster-view .child.index.red {
  border-left: 4px solid #e74c3c;
}
.marvel-cluster-view .child.index.yellow {
  border-left: 4px solid #f3bc18;
}
.marvel-cluster-view .child .title {
  padding: 5px 7px;
  float: left;
  text-align: center;
  font-size: 12px;
  font: 10px sans-serif;
}
.marvel-cluster-view .child .title a {
  text-decoration: none;
}
.marvel-cluster-view .child .title i {
  margin-left: 5px;
}
.marvel-cluster-view .child.unassigned .title {
  color: #999;
  display: none;
}
.marvel-cluster-view td:first-child {
  width: 200px;
}
.marvel-cluster-view .shard {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding: 5px 7px;
  background-color: #0d5a77;
  font: 10px sans-serif;
  border-left: 1px solid #ffffff;
  position: relative;
  color: #ffffff;
}
.marvel-cluster-view .shard .shard-tooltip {
  padding: 5px;
  bottom: 25px;
  left: 0;
  background-color: #d1d2d6;
  position: absolute;
  color: #666977;
  border: 1px solid #d1d2d6;
  white-space: nowrap;
}
.marvel-cluster-view .shard.replica {
  background-color: #5698ab;
}
.marvel-cluster-view .shard.unassigned {
  background-color: #a3a5ad !important;
  color: #000000;
}
.marvel-cluster-view .shard.emergency {
  background-color: #e74c3c !important;
  color: #000000;
}
.marvel-cluster-view .shard.relocating {
  background-color: #663db8;
}
.marvel-cluster-view .shard.initializing {
  background-color: #5c71ce;
}
.marvel-cluster-view .legend {
  margin-top: 10px;
  font-size: 12px;
  border-top: 1px solid #333;
  background-color: #333;
  color: #FFF;
  padding: 5px;
}
.marvel-cluster-view .legend .title {
  margin-left: 5px;
  font-weight: bold;
}
.marvel-cluster-view .legend span.shard {
  float: none;
  display: inline-block;
  margin: 0 5px 0 10px;
  padding: 0 4px;
}
.marvel-cluster-view .player {
  background-color: #000;
  font-size: 12px;
  height: 50px;
  padding: 6px 0 0 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.marvel-cluster-view .player .disabled {
  color: #666;
}
.marvel-cluster-view .player .display {
  color: #232123;
  padding: 0 0 5px 10px;
  font-weight: bold;
}
.marvel-cluster-view .player .display.playing {
  color: #1A9C00;
}
.marvel-cluster-view .player .control {
  position: relative;
  top: -2px;
  width: 180px;
}
.marvel-cluster-view .player .control .control-buttons {
  padding: 0 10px;
}
.marvel-cluster-view .player .control i {
  cursor: pointer;
  margin-right: 6px;
}
.marvel-cluster-view .player .control .rate {
  color: #a3a5ad;
  cursor: pointer;
  width: 50px;
  text-align: center;
  padding: 0 0 0 0;
}
.marvel-cluster-view .player .timeline {
  box-sizing: border-box;
  position: relative;
  margin: 0 10px 0 180px;
}
.marvel-cluster-view .player .timeline .head {
  position: absolute;
  z-index: 202;
  top: 0;
  left: 50px;
  bottom: 0;
  width: 2px;
  height: 12px;
  background-color: #FFF;
}
.marvel-cluster-view .player .timeline .head .arrow-down {
  position: absolute;
  z-index: 360;
  left: -9px;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.7);
}
.marvel-cluster-view .player .timeline .head .head-display {
  position: absolute;
  z-index: 350;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  left: -130px;
  bottom: 22px;
  min-width: 180px;
  font-size: 12px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}
.marvel-cluster-view .player .timeline .head .head-display .message {
  padding: 0 10px 10px;
}
.marvel-cluster-view .player .timeline .head .head-display .fa {
  margin-right: 3px;
}
.marvel-cluster-view .player .timeline .head .head-display > .time {
  padding: 10px 10px 5px;
  color: #fff;
}
.marvel-cluster-view .player .timeline .head .head-display > .time > .date {
  margin-right: 5px;
}
.marvel-cluster-view .player .timeline .head.yellow .message {
  color: #f3bc18;
}
.marvel-cluster-view .player .timeline .head.red .message {
  color: #e74c3c;
}
.marvel-cluster-view .player .timeline .head.green .message {
  color: #94c63d;
}
.marvel-cluster-view .player .timeline .marker {
  position: absolute;
  z-index: 201;
  top: 0;
  left: 50px;
  bottom: 0;
  width: 1px;
  height: 12px;
  background-color: #a3a5ad;
}
.marvel-cluster-view .player .timeline .marker .arrow-down {
  position: absolute;
  z-index: 100;
  top: -6px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-top: 5px solid #a3a5ad;
}
.marvel-cluster-view .player .timeline .marker .marker-display {
  z-index: 50;
  position: absolute;
  border-left: 1px solid #a3a5ad;
  white-space: nowrap;
  text-align: center;
  top: -16px;
  left: 0px;
  padding: 0 4px;
  font-size: 12px;
  line-height: 0;
  height: 20px;
  padding-top: 7px;
  color: #a3a5ad;
  box-sizing: border-box;
}
.marvel-cluster-view .player .timeline .bar {
  box-sizing: border-box;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.5);
}
.marvel-cluster-view .player .timeline .bar.playing {
  background-color: #1A9C00;
}
.marvel-cluster-view .player .timeline .cover {
  box-sizing: border-box;
  position: absolute;
  z-index: 300;
  top: -20px;
  left: 0;
  right: 0px;
  bottom: 0;
  height: 36px;
}
.marvel-cluster-view .player .timeline .timeline-colors {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #888;
  height: 12px;
  cursor: pointer;
  overflow: hidden;
}
.marvel-cluster-view .player .timeline .timeline-colors .segment {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: block;
  height: 12px;
  background-color: #999;
}
.marvel-cluster-view .player .timeline .timeline-colors .segment.playing {
  background-color: #1A9C00;
}
.marvel-cluster-view .player .timeline .timeline-colors .segment.yellow {
  background-color: #b39200;
}
.marvel-cluster-view .player .timeline .timeline-colors .segment.red {
  background-color: #853030;
}
.marvel-cluster-view .player .timeline .timeline-colors .segment.green {
  background-color: #309600;
}
.marvel-cluster-view.light .parentName a {
  color: #232123;
}
.marvel-cluster-view.light .parentName.text-error a {
  color: #232123;
}
.marvel-cluster-view.light .details {
  color: #a3a5ad;
}
.marvel-cluster-view.light .child {
  background-color: #666977;
  color: #ffffff;
}
.marvel-cluster-view.light .child .title a {
  color: #ffffff;
}
.marvel-cluster-view.light .shards .tooltip.top .tooltip-arrow {
  border-top-color: #333;
}
.marvel-cluster-view.light .shards .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #333;
}
.marvel-cluster-view.light .shards .tooltip-inner {
  background-color: #333;
  color: #FFF;
}
.marvel-cluster-view.light .shard.unassigned {
  background-color: #EDEDED;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.marvel-cluster-view.light .legend {
  border: 1px solid #d1d2d6;
  background-color: #ffffff;
  color: #232123;
}
.marvel-cluster-view.light .player {
  background-color: #ffffff;
  border-left: 1px solid #d1d2d6;
  border-right: 1px solid #d1d2d6;
  border-bottom: 1px solid #d1d2d6;
}
.marvel-cluster-view.light .player .current {
  color: #333;
}
.marvel-cluster-view.light .player .current .date {
  margin-right: 7px;
}
.marvel-cluster-view.light .player .current .fa {
  color: #a3a5ad;
  margin-right: 3px;
}
.marvel-cluster-view.light .player .disabled {
  color: #999;
}
.marvel-cluster-view.light .player .timeline .head .head-display {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
}
.marvel-cluster-view.light .player .timeline .head .arrow-down {
  border-top: 10px solid rgba(0, 0, 0, 0.7);
}
.marvel-cluster-view.light .player .timeline .head.yellow {
  color: #f3bc18;
}
.marvel-cluster-view.light .player .timeline .head.red {
  color: #e74c3c;
}
.marvel-cluster-view.light .player .timeline .head.green {
  color: #94c63d;
}
.marvel-cluster-view.light .player .timeline .marker .marker-display {
  color: #a3a5ad;
  background-color: none;
  font-weight: normal;
  white-space: nowrap;
}
.marvel-cluster-view.light .player .timeline .marker .arrow-down {
  border-top: 5px solid #FFF;
}
.marvel-cluster-view.light .player .timeline .bar {
  background-color: rgba(0, 0, 0, 0.3);
}
.marvel-cluster-view.light .player .timeline .timeline-colors {
  background-color: #CCC;
}
.marvel-cluster-view.light .player .timeline .timeline-colors .segment {
  background-color: #999;
}
.marvel-cluster-view.light .player .timeline .timeline-colors .segment.yellow {
  background-color: #f3bc18;
}
.marvel-cluster-view.light .player .timeline .timeline-colors .segment.red {
  background-color: #e74c3c;
}
.marvel-cluster-view.light .player .timeline .timeline-colors .segment.green {
  background-color: #94c63d;
}
.paginated-table {
  background-color: #ffffff;
  border-top: 2px solid #a3a5ad;
  padding: 10px;
}
.paginated-table.loading {
  text-align: center;
  padding: 30px 0;
  font-size: 18px;
  color: #666977;
}
.paginated-table.loading i.fa {
  margin-right: 5px;
}
.paginated-table .filter-input {
  border-radius: 3px;
  border: 1px solid #d1d2d6;
  height: 30px;
  line-height: 28px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 7px;
}
.paginated-table .title-bar {
  line-height: 30px;
}
.paginated-table .title {
  margin-top: 0;
  margin-bottom: 0;
}
.paginated-table .table th {
  border-color: #a3a5ad;
  border-width: 1px;
  height: 20px;
  padding-bottom: 2px;
  cursor: pointer;
}
.paginated-table .table th:first-child {
  padding-left: 0;
}
.paginated-table .table th span {
  margin-right: 3px;
}
.paginated-table .table td {
  border-color: #bdc5c2;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  vertical-align: middle;
}
.paginated-table .table td,
.paginated-table .table th {
  text-align: right;
  font-size: 12px;
}
.paginated-table .table td:last-child,
.paginated-table .table th:last-child {
  padding-right: 120px;
}
.paginated-table .table td:first-child,
.paginated-table .table th:first-child {
  text-align: left;
  padding-right: 0;
}
.paginated-table .table td.no-padding:last-child,
.paginated-table .table th.no-padding:last-child {
  padding-right: 0;
}
.paginated-table td.loading {
  color: #a3a5ad !important;
  padding: 20px !important;
  font-size: 18px !important;
  text-align: center !important;
}
.paginated-table .nested-table {
  width: 100%;
}
.paginated-table .tbody tr.big {
  height: 65px;
}
.paginated-table .tbody tr.big td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 0 none transparent;
  padding-left: 0;
  font-size: 18px;
  line-height: 22px;
}
.paginated-table .tbody tr.big td.no-border {
  border: 0 none transparent;
}
.paginated-table .tbody tr.big td .small {
  color: #666977;
  font-size: 12px !important;
  line-height: 14px;
}
.paginated-table .tbody tr.big td .big {
  font-size: 30px;
}
.paginated-table .tbody tr.big td .inline {
  display: inline-block;
}
.paginated-table .tbody tr.big td .inline + .inline {
  margin-left: 5px;
}
.paginated-table .tbody tr.big td .inline.status-online {
  color: #94c63d;
}
.paginated-table .tbody tr.big td .inline.status-offline {
  color: #a3a5ad;
}
.paginated-table .tbody tr.red td:first-child {
  border-left: 2px solid #e74c3c;
}
.paginated-table .tbody tr.red td:last-child {
  border-right: 2px solid #e74c3c;
}
.paginated-table .tbody tr.yellow td:first-child {
  border-left: 2px solid #f3bc18;
}
.paginated-table .tbody tr.yellow td:last-child {
  border-right: 2px solid #f3bc18;
}
.paginated-table .tbody tr.green td:first-child {
  border-left: 2px solid #94c63d;
}
.paginated-table .tbody tr.green td:last-child {
  border-right: 2px solid #94c63d;
}
.paginated-table .tbody tr.disabled {
  color: #a3a5ad;
}
.paginated-table .footer {
  text-align: center;
  margin-top: 13px;
  line-height: 30px;
}
.paginated-table .items-per-page span {
  cursor: pointer;
}
.paginated-table .pagination {
  border-top: 1px solid #eff0f1;
  border-bottom: 1px solid #eff0f1;
  margin-top: 0;
}
.paginated-table .pagination > li {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  width: 30px;
  display: inline-block;
  border-right: 1px solid #eff0f1;
}
.paginated-table .pagination > li.current {
  background-color: #428bca;
  color: #fff;
  cursur: initial;
}
.paginated-table .pagination > li:first-child {
  border-left: 1px solid #eff0f1;
}
.marvel_sparkline {
  width: 100%;
  overflow: visible !important;
}
.marvel_sparkline .sparkline {
  fill: none;
  stroke: #a3a5ad;
  stroke-width: 0.5px;
  width: 40px;
  height: 30px;
  padding: 5px;
}
.marvel_sparkline .point {
  opacity: 1;
  fill: #e8468b;
}
.sparkline_cont {
  width: 40px;
  padding: 10px 5px;
  overflow: hidden;
  line-height: 20px;
}
.chart-val {
  padding: 5px 0;
}
marvel-cluster-listing .paginated-table .table td,
marvel-cluster-listing .paginated-table > .table > tbody > tr > td {
  vertical-align: middle;
  font-size: 24px;
  line-height: 0.8em;
  padding: 5px 0;
}
marvel-cluster-listing .paginated-table .table td:first-child,
marvel-cluster-listing .paginated-table > .table > tbody > tr > td:first-child {
  padding-left: 5px;
}
marvel-cluster-listing .paginated-table .table td a,
marvel-cluster-listing .paginated-table > .table > tbody > tr > td a {
  text-decoration: none;
}
marvel-cluster-listing .paginated-table .table td div.license,
marvel-cluster-listing .paginated-table > .table > tbody > tr > td div.license {
  font-size: 20px;
}
marvel-cluster-listing .paginated-table .table td div.expires,
marvel-cluster-listing .paginated-table > .table > tbody > tr > td div.expires {
  font-size: 14px;
  color: #a3a5ad;
}
marvel-cluster-listing .paginated-table .table td div.expired,
marvel-cluster-listing .paginated-table > .table > tbody > tr > td div.expired {
  color: #e74c3c;
}
marvel-cluster-listing .paginated-table .tbody tr td:first-child {
  border-left: 2px solid #d1d2d6;
}
marvel-cluster-listing .paginated-table .tbody tr td:last-child {
  border-right: 2px solid #d1d2d6;
}
marvel-cluster-listing tr.basic > td > a,
marvel-cluster-listing .paginated-table .table tr.basic > td.license > div.expires,
marvel-cluster-listing tr.basic > td {
  color: #d1d2d6 !important;
}
.issues .view .summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.issues .view .summary marvel-issue-summary {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 5px;
}
.issues .view .summary marvel-issue-summary:first-child {
  margin: 0 5px 0 0;
}
.issues .view .summary marvel-issue-summary:last-child {
  margin: 0 0 0 5px;
}
.issues .view .issues-table {
  background-color: #ffffff;
  border-top: 2px solid #a3a5ad;
  padding: 0 5px 5px;
}
.issues .view .fa-bolt {
  color: #e74c3c;
}
.issues .view span.icon {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.issues .view span.node,
.issues .view span.index,
.issues .view span.field {
  color: #232123;
}
.issues .view span.node::after,
.issues .view span.index::after {
  content: ':';
}
.issues .view td {
  color: #a3a5ad;
}
.issues .view .type {
  text-transform: capitalize;
}
.issues .view .fa-warning {
  color: #f3bc18;
}
.issues .view .no-results {
  color: #d1d2d6;
  text-align: center;
  padding: 40px;
}
.issues .view .no-results h1 {
  margin-top: 0;
}
.issues .view .no-results .fa {
  font-size: 100px;
}
.issues .view div.filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #a3a5ad;
}
.issues .view div.filters .totals {
  color: #666977;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-align: right;
  padding-right: 20px;
}
.issues .view div.filters .totals a {
  color: #666977;
}
.issues .view div.filters .filter,
.issues .view div.filters .filter-label {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.issues .view div.filters .filter-label {
  color: #666977;
  font-weight: bold;
  margin: 0 20px 0 60px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.issues .view div.filters .filter-label:first-child {
  margin: 0 20px 0 0;
}
.issues .view div.filters .filter {
  cursor: pointer;
  margin: 5px 1px;
  background-color: #ffffff;
  color: #666977;
  padding: 5px 10px;
  font-size: 0.9em;
  border: 1px solid #d1d2d6;
}
.issues .view div.filters .filter.red {
  color: #e74c3c;
  border-color: #e74c3c;
}
.issues .view div.filters .filter.red .fa-bolt {
  color: #e74c3c;
}
.issues .view div.filters .filter.yellow {
  color: #f3bc18;
  border-color: #f3bc18;
}
.issues .view div.filters .filter.yellow .fa-bolt {
  color: #f3bc18;
}
.issues .view div.filters .filter.active {
  background-color: #a3a5ad;
  color: #ffffff;
}
.issues .view div.filters .filter.active.red {
  background-color: #e74c3c;
}
.issues .view div.filters .filter.active.red .fa-warning,
.issues .view div.filters .filter.active.red .fa-bolt {
  color: #ffffff;
}
.issues .view div.filters .filter.active.yellow {
  background-color: #f3bc18;
  color: #232123;
}
.issues .view div.filters .filter.active.yellow .fa-warning,
.issues .view div.filters .filter.active.yellow .fa-bolt {
  color: #232123;
}
.marvel-settings form > .row {
  border-bottom: 1px solid #a3a5ad;
}
.marvel-settings form > .row:first-child {
  border-top: 1px solid #a3a5ad;
}
.details.red .detail-metrics {
  border-top: 2px solid #e74c3c;
}
.details.yellow .detail-metrics {
  border-top: 2px solid #f3bc18;
}
.details.green.detail-metrics {
  border-top: 2px solid #94c63d;
}
.details .detail-metrics {
  background-color: #ffffff;
  border-top: 2px solid #a3a5ad;
  padding: 10px;
}
.details .detail-metrics h1 {
  font-size: 24px;
  margin: 10px 0 10px;
}
.details .detail-metrics marvel-chart {
  border-top: 0 none transparent;
  padding: 0;
}
.details .detail-metrics marvel-chart > div {
  border-top: 2px solid #a3a5ad;
  border-left: 1px solid #a3a5ad;
  border-right: 1px solid #a3a5ad;
  border-bottom: 1px solid #a3a5ad;
}
.details .detail-metrics marvel-chart > div > h1 {
  font-size: 20px;
  margin: 0;
  padding: 5px;
}
.marvel-home {
  padding: 15px;
}
.banner {
  position: relative;
  border-top: 1px solid #666977;
  background-color: #3a3631;
  padding: 20px;
  font-size: 14px;
  color: #c2c2c6;
}
.banner a {
  text-decoration: underline;
  color: #c2c2c6;
}
.banner ul {
  padding-left: 1.3em;
}
.banner .buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}
.banner .buttons button {
  margin-left: 10px;
  color: #c2c2c6;
}
.banner .buttons button.button-clear {
  border: 1px solid #1a181a;
  background-color: transparent;
}
.banner .buttons button.button-dark {
  border: 1px solid #1a181a;
  background-color: #1a181a;
}
.banner h3 {
  margin-top: 0;
}
.banner .welcomeCols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.banner .welcomeCol {
  width: 30%;
  padding-right: 20px;
}
.banner .shareYourStats {
  margin-right: 22em;
}
.license-view {
  padding: 50px 125px 5px;
  background-color: #424242;
  color: #fff;
  font-size: 20px;
}
.license-view .license-main {
  text-align: center;
}
.license-view .license-main a {
  color: #3ac374;
}
.license-view .license-main a.btn {
  font-size: 20px;
  margin: 30px 0;
  width: 200px;
  color: #fff;
  border: 1px solid #3ac374;
}
.license-view .license-main a.btn.premium {
  background-color: #3ac374;
}
.license-view .license-back {
  text-align: right;
}
.license-view .bold {
  font-weight: bold;
}
.license-view .title {
  margin-bottom: 30px;
  font-size: 30px;
}
.marvel-no-data {
  padding: 20px;
}
