@md_size_screen: 980px;
.application {
  background-color: @esVeryLightGray;
}

.marvel-view {

  .marvel-element {
    &.row {
      margin-bottom: 15px;
    }
  }

  &.no-padding {
    padding: 0;
  }

  .table > thead > tr > th {
    border-color: @esGray;
  }

  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td,
  .table.table-condensed > tbody > tr > th,
  .table.table-condensed > tfoot > tr > th,
  .table.table-condensed > thead > tr > td,
  .table.table-condensed > tbody > tr > td,
  .table.table-condensed > tfoot > tr > td {
    border-color: @esLightGray;
  }

  .table {
    border-bottom: 1px solid @esLightGray;
    margin-bottom: 0;
  }

  th {
    font-weight: normal;
  }

  .fa-bolt {
    color: @esRed;
  }

  .fa-warning {
    color: @esYellow;
  }

  a[data-reactid] { cursor: pointer; }

}
