<div ng-controller="issues" class="issues marvel-view">
  <marvel-cluster-status source="cluster_status"></marvel-cluster-status>
  <div class="view">
    <div class="summary marvel-element">
      <marvel-issue-summary source="summaries.total" title="All"></marvel-issue-summary>
      <marvel-issue-summary source="summaries.cluster" title="Cluster"></marvel-issue-summary>
      <marvel-issue-summary source="summaries.node" title="Node"></marvel-issue-summary>
      <marvel-issue-summary source="summaries.index" title="Indices"></marvel-issue-summary>
    </div>
    <div class="issues-table">
      <div class="filters">
        <div class="filter-label">Filter By Type</div>
        <div class="filter" ng-class="{ active: isActive({ type: 'cluster' }) }" ng-click="toggleFilter({ type: 'cluster' })">Cluster</div>
        <div class="filter" ng-class="{ active: isActive({ type: 'node' }) }" ng-click="toggleFilter({ type: 'node' })">Node</div>
        <div class="filter" ng-class="{ active: isActive({ type: 'index' }) }" ng-click="toggleFilter({ type: 'index' })">Index</div>
        <div class="filter-label">Filter By Serverity</div>
        <div class="filter red" ng-class="{ active: isActive({ status: 'red' }) }" ng-click="toggleFilter({ status: 'red' })"><i class="fa fa-bolt"></i> Critical</div>
        <div class="filter yellow" ng-class="{ active: isActive({ status: 'yellow' }) }" ng-click="toggleFilter({ status: 'yellow' })"><i class="fa fa-warning"></i> Warning</div>
        <div class="totals">
          <span>Showing {{ issues.length }}</span>
          <span>of</span>
          <span>{{ allIssues.length }}</span>
          <span>|</span>
          <a ng-click="showAll()">Show All</a>
        </div>
      </div>
      <table ng-if="issues.length" class="table table-condensed">
        <thead>
          <tr>
            <th>Status</th>
            <th>Issue</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="issue in issues">
            <td>
              <span class="icon"><i class="fa" ng-class="{ 'fa-warning': issue.status === 'yellow', 'fa-bolt': issue.status === 'red' }"></i></span>
              <span>{{ issue.status === 'red' ? 'Critical' : 'Warning' }}</span>
            </td>
            <td>
              <span class="node" ng-if="issue.type === 'node'" ng-text="::issue.node.name"></span>
              <span class="index" ng-if="issue.type === 'index'" ng-text="::issue.index"></span>
              <span class="field" ng-if="issue.field" ng-text="::issue.field"></span>
              <span ng-text="::issue.message"></span>
            </td>
            <td class="type" ng-text="::issue.type"></td>
          </tr>
        </tbody>
        <div
          ng-if="!issues.length"
          class="no-results">
          <div><i class="fa fa-thumbs-o-up"></i></div>
          <h1>Hooray! There are no issues!</h1>
          <p ng-if="allIssues.length">There are {{ allIssues.length }} issues which are being excluded with the filters.</p>
        </div>
      </table>
    </div>
  </div>
</div>
